pydantic==1.10.0
tox
pre-commit
xmldiff
pytest
pytest-fail-slow
pytest-network
pytest-xdist
pdbpp
pytest-mock
pytest-cov
coverage
sentry-sdk==1.9.0
blinker==1.5
flask
Flask-HTTPAuth
redis
pymongo
requests
Flask-JWT-Extended
swagger-ui-py
nose
coverage
MarkupSafe